{
	"useTabs": false,
	"tabWidth": 2,
	"printWidth": 100,
	"singleQuote": true,
	"jsxBracketSameLine": false,
	"noSemi": true,
	"trailingComma": "es5",
	"overrides": [
		{
			"files": "*.scss",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
